.card-body {
    height: 200px; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-title,
  .card-text {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .card-text {
    font-size: 14px; /* Adjust text size if needed */
    color: #666;
  }
  
  .card .btn {
    margin-top: auto;
  }
  

  